Dockerfile.dev
README.md
assets
docker-compose.dev.yml
poetry.lock
pyproject.toml
up.dev.v2.sh
entrypoint.dev.sh
htmlcov
makemigrations.sh
tests
coverage.sh

.coverage
.coveragerc
.dockerignore
.env.dev
.git
.gitignore
.mypy_cache
.env
.vscode